<html>
    <body style="background-color: lightgreen">
        <h3 style="color: blue;">Add Books</h3>
        <a href='/'>Back</a>
        <form action="/create">
            <input type="text" name="title" placeholder="Title">
            <textarea name="description" placeholder="Description"></textarea>
            <input type="text" name="year" placeholder="Year">
            <input type="text" name="isbn" placeholder="ISBN">
            <input type="text" name="author" placeholder="Author">
            <input type="text" name="genre" placeholder="Genre">
            <input type="text" name="location" placeholder="Location">
            <input type="text" name="image" placeholder="Image URL">
            <input type="submit" value="Save">
        </form>
    </body>
</html>