<html>
    <body style="background-color: lightgreen">
        <h1 style="color: red;">Welcome to Library</h1>

        <form action="/search">
            <input type="text" name="title" placeholder="Search...">
            <input type="submit" value="Search">
        </form>

        <a href="/book">Add Book</a>

    </body>
</html>