<html>
    <head>
        <style>
            h1 {
                color: red;
            }
        </style>
    </head>
    <body>
        <h1>Welcome to Library</h1>

        <form action="search">
            <div class="input-group">
                <input class="form-control" type="text" name="title" placeholder="Search...">
                <span class="input-group-btn">
                    <input class="btn btn-default" type="submit" value="Search">
                </span>
            </div>
        </form>

        <div class="row">
            <div class="col-md-12 text-right">
                <a href="/book" class="btn btn-primary">Add Book</a>
            </div>
        </div>
        <div>
          <%= render 'search' %>
        </div>
    </body>
</html>
